In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel('Book1.xlsx', header=None, index_col=None)


def get_word_coordinates(df, searched_word):

    for rowno, rows in df.iterrows():
        
        # rowno += 2
        colno = 0

        for value in rows.items():

            if value[1] == searched_word:
                print(f'Cell {rowno},{colno} contains value {value[1]}')
                return [rowno, colno]
            
            colno += 1

def save_coordinates(coordinates):
    if coordinates not in checked_coordinates:
        checked_coordinates.append(coordinates)

def find_table(start_coordinates):

    if start_coordinates is None:
        start_coordinates = [0,0]

    save_coordinates(start_coordinates)

    start_row = start_coordinates[0]
    start_col = start_coordinates[1]

    print(f'Row numbers of df {df.shape[0]}')
    print(f'Col numbers of df {df.shape[1]}')
    print(f'Starting coordinates are {start_row},{start_col}')

    end_row = start_row
    end_col = start_col

    cols_to_left = start_col
    cols_to_right = df.shape[1] - start_col - 1
    rows_to_top = start_row
    rows_to_bottom = df.shape[0] - start_row - 1

    print(f'Cells to the left {cols_to_left}')
    print(f'Cells to the right {cols_to_right}')
    print(f'Cells to the top {rows_to_top}')
    print(f'Cells to the bottom {rows_to_bottom}')

    if cols_to_left > 1:
        for i in range(cols_to_left):
            if pd.notna(df.iloc[start_row,start_col-1]):
                start_col = start_col-1
                print(f'New start column is {start_col}')
                save_coordinates([start_row, start_col])


    if cols_to_right > 1:
        for i in range(cols_to_right):
            if pd.notna(df.iloc[start_row,end_col+1]):
                end_col = end_col + 1
                print(f'New end column is {end_col}')
                save_coordinates([start_row, end_col])

    if rows_to_top > 1:
        for i in range(rows_to_top):
            if pd.notna(df.iloc[start_row-1,start_col]):
                start_row = start_row - 1
                print(f'New start row is {start_row}')
                save_coordinates([start_row, start_col])

    if rows_to_bottom > 1:
        for i in range(rows_to_bottom):
            if pd.notna(df.iloc[end_row+1,start_col]):
                end_row = end_row + 1
                print(f'New end row is {end_row}')
                save_coordinates([end_row, start_col])

    table = df.iloc[start_row:end_row+1, start_col:end_col+1]
    print(table.shape)

    table = table.reset_index(drop=True)
    table.columns = table.iloc[0]
    table = table[1:]

    return table

table_dict = {}
table_count = 1

checked_coordinates = []

for rowno, rows in df.iterrows():
    
    colno = 0
    for value in rows.items():
        if not pd.isna(value[1]):

            start_coordinates = [rowno, colno]

            if start_coordinates not in checked_coordinates:
                
                table = find_table(start_coordinates)
                table_str = table.to_string(index=False)

                if table.shape[0] >= 2 and table.shape[1] >= 2:
                        
                    if table_str not in [tb[1] for tb in table_dict.values()]:

                        name = f"table_{table_count}"
                        table_dict[name] = [table, table_str]
                        table_count += 1
            
        colno += 1

In [2]:
import pandas as pd
import numpy as np

# read in the Excel file
df = pd.read_excel('Book1.xlsx', header=None, index_col=None)
df

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,43142,NaN,NaN,3141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,name,age
3257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Filip,27
3258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sona,22
3259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Peter,50

In [3]:
# Create an ExcelFile object
excel_file = pd.ExcelFile('Book1.xlsx')

# Get the sheet names
sheet_names = excel_file.sheet_names

# Print the number of sheets
num_sheets = len(sheet_names)
print(f"The Excel file has {num_sheets} sheet(s).")

# Print the sheet names
print("Sheet names:")
for sheet_name in sheet_names:
    print(sheet_name)

The Excel file has 1 sheet(s).
Sheet names:
Sheet1

In [4]:
def get_word_coordinates(df, searched_word):

    for rowno, rows in df.iterrows():
        
        # rowno += 2
        colno = 0

        for value in rows.items():

            if value[1] == searched_word:
                print(f'Cell {rowno},{colno} contains value {value[1]}')
                return [rowno, colno]
            
            colno += 1

def save_coordinates(coordinates):
    if coordinates not in checked_coordinates:
        checked_coordinates.append(coordinates)

In [5]:
def find_table(start_coordinates):

    if start_coordinates is None:
        start_coordinates = [0,0]

    save_coordinates(start_coordinates)

    start_row = start_coordinates[0]
    start_col = start_coordinates[1]

    print(f'Row numbers of df {df.shape[0]}')
    print(f'Col numbers of df {df.shape[1]}')
    print(f'Starting coordinates are {start_row},{start_col}')

    end_row = start_row
    end_col = start_col

    cols_to_left = start_col
    cols_to_right = df.shape[1] - start_col - 1
    rows_to_top = start_row
    rows_to_bottom = df.shape[0] - start_row - 1

    print(f'Cells to the left {cols_to_left}')
    print(f'Cells to the right {cols_to_right}')
    print(f'Cells to the top {rows_to_top}')
    print(f'Cells to the bottom {rows_to_bottom}')

    if cols_to_left > 1:
        for i in range(cols_to_left):
            if pd.notna(df.iloc[start_row,start_col-1]):
                start_col = start_col-1
                print(f'New start column is {start_col}')
                save_coordinates([start_row, start_col])


    if cols_to_right > 1:
        for i in range(cols_to_right):
            if pd.notna(df.iloc[start_row,end_col+1]):
                end_col = end_col + 1
                print(f'New end column is {end_col}')
                save_coordinates([start_row, end_col])

    if rows_to_top > 1:
        for i in range(rows_to_top):
            if pd.notna(df.iloc[start_row-1,start_col]):
                start_row = start_row - 1
                print(f'New start row is {start_row}')
                save_coordinates([start_row, start_col])

    if rows_to_bottom > 1:
        for i in range(rows_to_bottom):
            if pd.notna(df.iloc[end_row+1,start_col]):
                end_row = end_row + 1
                print(f'New end row is {end_row}')
                save_coordinates([end_row, start_col])

    table = df.iloc[start_row:end_row+1, start_col:end_col+1]
    print(table.shape)

    table = table.reset_index(drop=True)
    table.columns = table.iloc[0]
    table = table[1:]

    return table

In [6]:
table_dict = {}
table_count = 1

checked_coordinates = []

for rowno, rows in df.iterrows():
    
    colno = 0
    for value in rows.items():
        if not pd.isna(value[1]):

            start_coordinates = [rowno, colno]

            if start_coordinates not in checked_coordinates:
                
                table = find_table(start_coordinates)
                table_str = table.to_string(index=False)

                if table.shape[0] >= 2 and table.shape[1] >= 2:
                        
                    if table_str not in [tb[1] for tb in table_dict.values()]:

                        name = f"table_{table_count}"
                        table_dict[name] = [table, table_str]
                        table_count += 1
            
        colno += 1

Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3,4
Cells to the left 4
Cells to the right 90
Cells to the top 3
Cells to the bottom 3256
(1, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3,7
Cells to the left 7
Cells to the right 87
Cells to the top 3
Cells to the bottom 3256
(1, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 6,2
Cells to the left 2
Cells to the right 92
Cells to the top 6
Cells to the bottom 3253
New end column is 3
New end column is 4
New end column is 5
New end row is 7
New end row is 8
New end row is 9
New end row is 10
New end row is 11
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 7,3
Cells to the left 3
Cells to the right 91
Cells to the top 7
Cells to the bottom 3252
New start column is 2
New end column is 4
New end column is 5
New start row is 6
New end row is 8
New end row is 9
New end row is 10
New end row is 11
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 8,3
Cells to the left 3
Cells to the right 91
Cells to the top 8
Cells to the bottom 3251
New start column is 2
New end column is 4
New end column is 5
New start row is 7
New start row is 6
New end row is 9
New end row is 10
New end row is 11
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 8,10
Cells to the left 10
Cells to the right 84
Cells to the top 8
Cells to the bottom 3251
(1, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 8,13
Cells to the left 13
Cells to the right 81
Cells to the top 8
Cells to the bottom 3251
New end column is 14
New end row is 9
(2, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 9,3
Cells to the left 3
Cells to the right 91
Cells to the top 9
Cells to the bottom 3250
New start column is 2
New end column is 4
New end column is 5
New start row is 8
New start row is 7
New start row is 6
New end row is 10
New end row is 11
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 9,14
Cells to the left 14
Cells to the right 80
Cells to the top 9
Cells to the bottom 3250
New start column is 13
New start row is 8
(2, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 10,3
Cells to the left 3
Cells to the right 91
Cells to the top 10
Cells to the bottom 3249
New start column is 2
New end column is 4
New end column is 5
New start row is 9
New start row is 8
New start row is 7
New start row is 6
New end row is 11
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 11,3
Cells to the left 3
Cells to the right 91
Cells to the top 11
Cells to the bottom 3248
New start column is 2
New end column is 4
New end column is 5
New start row is 10
New start row is 9
New start row is 8
New start row is 7
New start row is 6
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 13,6
Cells to the left 6
Cells to the right 88
Cells to the top 13
Cells to the bottom 3246
New end row is 14
(2, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 15,10
Cells to the left 10
Cells to the right 84
Cells to the top 15
Cells to the bottom 3244
(1, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 16,6
Cells to the left 6
Cells to the right 88
Cells to the top 16
Cells to the bottom 3243
New end row is 17
(2, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 16,13
Cells to the left 13
Cells to the right 81
Cells to the top 16
Cells to the bottom 3243
New end column is 14
New end row is 17
New end row is 18
(3, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 17,14
Cells to the left 14
Cells to the right 80
Cells to the top 17
Cells to the bottom 3242
New start column is 13
New start row is 16
New end row is 18
(3, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 18,14
Cells to the left 14
Cells to the right 80
Cells to the top 18
Cells to the bottom 3241
New start column is 13
New start row is 17
New start row is 16
(3, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 19,2
Cells to the left 2
Cells to the right 92
Cells to the top 19
Cells to the bottom 3240
New end column is 3
New end column is 4
New end column is 5
New end row is 20
New end row is 21
New end row is 22
New end row is 23
New end row is 24
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 20,3
Cells to the left 3
Cells to the right 91
Cells to the top 20
Cells to the bottom 3239
New start column is 2
New end column is 4
New end column is 5
New start row is 19
New end row is 21
New end row is 22
New end row is 23
New end row is 24
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 21,3
Cells to the left 3
Cells to the right 91
Cells to the top 21
Cells to the bottom 3238
New start column is 2
New end column is 4
New end column is 5
New start row is 20
New start row is 19
New end row is 22
New end row is 23
New end row is 24
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 22,3
Cells to the left 3
Cells to the right 91
Cells to the top 22
Cells to the bottom 3237
New start column is 2
New end column is 4
New end column is 5
New start row is 21
New start row is 20
New start row is 19
New end row is 23
New end row is 24
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 22,13
Cells to the left 13
Cells to the right 81
Cells to the top 22
Cells to the bottom 3237
New end column is 14
New end row is 23
New end row is 24
New end row is 25
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 23,3
Cells to the left 3
Cells to the right 91
Cells to the top 23
Cells to the bottom 3236
New start column is 2
New end column is 4
New end column is 5
New start row is 22
New start row is 21
New start row is 20
New start row is 19
New end row is 24
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 23,14
Cells to the left 14
Cells to the right 80
Cells to the top 23
Cells to the bottom 3236
New start column is 13
New start row is 22
New end row is 24
New end row is 25
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 24,3
Cells to the left 3
Cells to the right 91
Cells to the top 24
Cells to the bottom 3235
New start column is 2
New end column is 4
New end column is 5
New start row is 23
New start row is 22
New start row is 21
New start row is 20
New start row is 19
(6, 4)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 24,14
Cells to the left 14
Cells to the right 80
Cells to the top 24
Cells to the bottom 3235
New start column is 13
New start row is 23
New start row is 22
New end row is 25
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 25,14
Cells to the left 14
Cells to the right 80
Cells to the top 25
Cells to the bottom 3234
New start column is 13
New start row is 24
New start row is 23
New start row is 22
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 27,8
Cells to the left 8
Cells to the right 86
Cells to the top 27
Cells to the bottom 3232
New end row is 28
New end row is 29
New end row is 30
New end row is 31
(5, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3256,93
Cells to the left 93
Cells to the right 1
Cells to the top 3256
Cells to the bottom 3
New end row is 3257
New end row is 3258
New end row is 3259
(4, 1)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3256,94
Cells to the left 94
Cells to the right 0
Cells to the top 3256
Cells to the bottom 3
New start column is 93
New end row is 3257
New end row is 3258
New end row is 3259
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3257,94
Cells to the left 94
Cells to the right 0
Cells to the top 3257
Cells to the bottom 2
New start column is 93
New start row is 3256
New end row is 3258
New end row is 3259
(4, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3258,94
Cells to the left 94
Cells to the right 0
Cells to the top 3258
Cells to the bottom 1
New start column is 93
New start row is 3257
New start row is 3256
(3, 2)
Row numbers of df 3260
Col numbers of df 95
Starting coordinates are 3259,94
Cells to the left 94
Cells to the right 0
Cells to the top 3259
Cells to the bottom 0
New start column is 93
New start row is 3258
New start row is 3257
New start row is 3256
(4, 2)

In [7]:
# print the dataframes
for name, table_name in table_dict.items():
    print(name)
    print(table_name)

table_1
[0 column1 column12 column13 column14
1       1        1        1        1
2       2        2        2        2
3       3        3        3        3
4       4        4        4        4
5       5        5        5        5, 'column1 column12 column13 column14\n      1        1        1        1\n      2        2        2        2\n      3        3        3        3\n      4        4        4        4\n      5        5        5        5']
table_2
[0   name age
1  Filip  27
2   Sona  22, ' name age\nFilip  27\n Sona  22']
table_3
[0 column1 column12 column15 column14
1       1        1        1        1
2       2        2        2        2
3       3        3        3        3
4       4        4        4        4
5       5        5        5        5, 'column1 column12 column15 column14\n      1        1        1        1\n      2        2        2        2\n      3        3        3        3\n      4        4        4        4\n      5        5        5        5']
table_4
[0   name age
1  Filip  27
2   Sona  22
3  Peter  51, ' name age\nFilip  27\n Sona  22\nPeter  51']
table_5
[0   name age
1  Filip  27
2   Sona  22
3  Peter  50, ' name age\nFilip  27\n Sona  22\nPeter  50']

In [11]:
table_dict['table_1']

[0 column1 column12 column13 column14
 1       1        1        1        1
 2       2        2        2        2
 3       3        3        3        3
 4       4        4        4        4
 5       5        5        5        5,
 'column1 column12 column13 column14\n      1        1        1        1\n      2        2        2        2\n      3        3        3        3\n      4        4        4        4\n      5        5        5        5']

In [ ]:
checked_coordinates

##### Create a list of cells that i have already checked and do not check them twice

In [ ]:
checked_coordinates = []
table = find_table([9,4])